*,
*:before,
*after {
    box-sizing: border-box;
}

:root {
    --primary: #444;
    --light: #fff;
    --dark: #171717;
    --shadow: 0 1px 5px rgba(247, 247, 247, 0.8);
}

img {
    max-width: 100%;
    max-height: 100%;
}

html {
    box-sizing: border-box;
    font-family: Cethury Gothic;
    color: var(--dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Adjust font size */
    font-size: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
    background: #353535;
    /*  margin: 30px 50px;
    line-height: 1.4;*/
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}

header {
    height: 50px;
    background: #888;
    width: 100%;
    z-index: 10;
    position: fixed;
}

footer {
    height: 30px;
    background: #444;
    width: 100%;
    position: relative;
    margin-top: 43%;
    color: #fff;
    font-family: 'Century Gothic', sans-serif;
    text-align: auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 27.33px;
    text-transform: uppercase;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    text-align: left;
    width: 200px;
    height: auto;
    margin-left: 50px;
}

.banner {
    background: url(/img/wow1.jpg);
    background-size: cover;
    width: 100%;
    height: 800px;
    position: fixed;
    top: 52px;
    color: white;
    text-align: left;
}

.content {
    width: 100%;
    position: relative;
    top: 800px;
    background: #353535;
    height: auto;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "rui rui rui" "rect1 rect2 rect3" "rect4 rect5 rect6";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.img1 {
    grid-area: rui;
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.rect1,
.rect2,
.rect3 {
    /* Style for "Rect Desig" */
    width: 366px;
    height: 318px;
    border: 3px solid #ffffff;
    background-color: #171717;
    margin: 0 auto;
    margin-top: -145px;
}

.rect4,
.rect6 {
    grid-area: rect4;
    width: 366px;
    height: 318px;
    border: 3px solid #ffffff;
    background-color: #171717;
    margin: 0 auto;
    margin-top: -50px;
}

.rect1:hover,
.rect2:hover,
.rect3:hover,
.rect4:hover,
.rect5:hover,
.rect6:hover {
    border-color: #f0554e;
}

.rect5 {
    /* Style for "Rect Desig" */
    width: 770px;
    height: 318px;
    border: 3px solid #ffffff;
    background-color: #171717;
    margin: 0 auto;
    margin-top: -40px;
}

.rect1txt,
.rect2txt,
.rect3txt {
    width: auto;
    height: 33px;
    color: #ffffff;
    font-family: Inconsolata;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.33px;
    text-transform: uppercase;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
    width: auto;
    height: 22px;
    color: #f0554e;
    font-family: Inconsolata;
    font-size: 28px;
    font-weight: 700;
    line-height: 52.33px;
    text-transform: uppercase;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 40px;
}

.text {
    width: auto;
    height: 22px;
    color: #fff;
    font-family: 'Century Gothic', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.33px;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 10px;
}

.rect1 {
    grid-area: rect1;
}

.rect2 {
    grid-area: rect2;
}

.rect3 {
    grid-area: rect3;
}

.rect4 {
    grid-area: rect4;
}

.rect5 {
    grid-area: rect5;
}

.rect6 {
    grid-area: rect6;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    font-size: 1.2px;
    line-height: 40px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 1px;
    text-shadow: #fff 0px 1px 1px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #f0554e;
}

.nav a.active {
    background-color: #aaa;
    color: #444;
    cursor: default;
}

/* Sub Menus */

.nav li li {
    font-size: .8em;
}

/*******************************************
     Style menu for larger screens
  
     Using 650px (130px each * 5 items), but ems
     or other values could be used depending on other factors
  ********************************************/

@media screen and (min-width: 650px) {
    .nav li {
        width: 130px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
        display: inline-block;
        margin-right: -4px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .nav a {
        border-bottom: none;
    }
    .nav>ul>li {
        text-align: center;
    }
    .nav>ul>li>a {
        padding-left: 0;
    }
    /* Sub Menus */
    .nav li ul {
        position: absolute;
        display: none;
        width: inherit;
    }
    .nav li:hover ul {
        display: block;
    }
    .nav li ul li {
        display: block;
    }
}